In [4]:
# import mysql connector
import mysql.connector as connector

In [5]:
# Establish connection 
connection=connector.connect(
                             user="root", # use your own
                             password="7Wilson1!", # use your own
                             database="LittleLemonDB"
                            )

In [6]:
# Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

In [7]:
# Set the little_lemon database for use 
cursor.execute("USE LittleLemonDB")

# Confirm the database in use
connection.database

'LittleLemonDB'

In [8]:
#Task 2 - Query Database to show tables present in DB

# create SQL query as a string object and add to a variable
tables = """SHOW TABLES""" 

# execute the query
cursor.execute(tables)

# fetch the results from the cursor
results = cursor.fetchall()

# Retrieve the column names
cols = cursor.column_names[1:]

# print column names and the records from results using for loop
print(cols)
for result in results:
    print(result)

()
('Bookings',)
('Customer',)
('Employees',)
('MenuItems',)
('Menus',)
('Orders',)

In [15]:
#Task 3 - Return the full name and contact details for every customer that has placed an order greater 
#than $60 for a promotional campaign.


orders = """
SELECT Customer.Customer_ID, Customer.Customer_Name, Customer.Customer_Contact, Orders.Total_Cost
FROM Orders
INNER JOIN Customer
  ON Orders.Customer_ID = Customer.Customer_ID
WHERE Orders.Total_Cost > 60
"""

# execute the query
cursor.execute(orders)

# fetch results from the cursor, store in  a variable
results = cursor.fetchall()

# retrieve column names from the cursor
cols = cursor.column_names

# print the cols and results
print("Little Lemon customers with orders greater than $60:")
print(cols)
for result in results:
    print(result)

Little Lemon customers with orders greater than $60:
('Customer_ID', 'Customer_Name', 'Customer_Contact', 'Total_Cost')
(1, 'Vanessa McCarthy', 12345, 250)
(2, 'Marcos Romero', 67891, 200)
(3, 'Anna Iversen', 19876, 150)
(4, 'Joakim Iversen', 65432, 100)

In [16]:
# Close the cursor and the connection
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL cursor and connection is closed.")
else:
    print("Connection is already closed.")

MySQL cursor and connection is closed.